@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  @apply bg-[#eef0fc];
}


@media screen and (max-width: 640px) {
  #type-car {
    grid-template-columns: 1fr 1fr;
  }
  #section-main {
    grid-template-columns: 1fr;
   row-gap: 4em;
  }
  #why-us{
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 3em;
  }
 .icon-container{
   display: flex;
   justify-content: center;
  }
}
